<div class="row">
  <div class="col-md-12">
    <div class="box">
      <div class="box-header"><span class="title"><%= t("activerecord.models.#{controller_name}") %></span>
        <ul class="box-toolbar">
          <li><span class="label label-blue"><% @messages_count %></span></li>
        </ul>
      </div>
      <div class="box-content">
        <!-- find me in partials/data_tables_custom -->
        <div id="dataTables">
          <table cellpadding="0" cellspacing="0" border="0" class="dTable responsive">
            <thead>
              <tr>
                <th><div><%= t'.id' %></div></th>
            <th><div><%= t'.message' %></div></th>
            <th><div><%= t'.user' %></div></th>
            <th><div><%= t'.branch' %></div></th>
            <th><div><%= t('layouts.application.actions') %></div></th>
            </tr>
            </thead>
            <tbody>
              <% @messages.each do |message| %>
                <% @model = message %> 
                <tr>
                  <%if can? :show, Message %>
                    <td><%=link_to message.id, message, :class => 'btn btn-mini btn-blue'%></td>
                  <%else%>
                    <td><%= label message.id, message.id, :class => 'btn btn-mini btn-blue'%></td>
                  <%end%>
                  <td><%= message.message %></td>
                  <td><%= message.user.fullname %></td>
                  <td><%= message.branch.name %></td>
                  <td><%= render "layouts/index_links" %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render "layouts/action_links" %>
