<div class="container">
  <div class="row">
    <div class="col-md-20">
      <div id="thumbs">
        <%=link_to "", "/assets/home.png", :style=>"background-image:url(/assets/home.png)", :title => @branch.name%>
      </div>
      <a data-toggle="modal" href="#modal-simple" class="btn btn-small btn-default" id="button-center"><i class="icon-cog"></i>  <%=t('.change_logo')%></a>
    </div>

    <div id="modal-simple" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title"><%=t('.change_logo')%></h4>
          </div>
          <div class="modal-body">
            <p>
              <%= render partial: 'avatars/form',
                object: @branch,
                as: :avatarable %>
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal"><%=t('cancel')%></button>
            <button type="button" class="btn btn-blue">Save changes</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal --><!-- find me in partials/modal_form -->

    <div class="col-md-21">
      <div class="box">
        <div class="box-header">
          <ul class="nav nav-tabs nav-tabs-left">
            <li class="active"><a href="#home" data-toggle="tab"><i class="icon-home"></i></a></li>
            <li><a href="#contact_info" data-toggle="tab"><i class="icon-info-sign"></i> <span><%=t('layouts.application.contact_info')%></span></a></li>
          </ul>
          <div class="title"><%= @branch.name %></div>
        </div>

        <div class="box-content">
          <div class="tab-content">
            <div class="tab-pane active" id="home">
              <ul class="box-list">
                <li>
                  <span><strong><%= t('.name') %></strong><%= @branch.name %></span>
                </li>
                <li>
                  <span><strong><%= t('.company_id') %></strong><%= @branch.company.name %></span>
                </li>
                <li>
                  <span><strong><%= t('.main_branch') %></strong><%= t(@branch.main_branch.to_s) %></span>
                </li>
                <li>
                  <span><strong><%= t('.description') %></strong><%= @branch.description %></span>
                </li>
                <li>
                  <span><strong><%= t('.created_at') %></strong><%=  I18n.l @branch.created_at, :format => :long if @branch.created_at%></span>
                </li>
                <li>
                  <span><strong><%= t('.updated_at') %></strong><%= I18n.l @branch.updated_at, :format => :long if  @branch.updated_at%></span>
                </li>
              </ul>
            </div>

            <div class="tab-pane" id="contact_info">
              <ul class="box-list">
                <li>
                  <span><strong><%= t('.contact') %></strong><%= @branch.contact %></span>
                </li>
                <li>
                  <span><strong><%= t('.email1') %></strong><%= mail_to @branch.email1, @branch.email1 %></span>
                </li>
                <li>
                  <span><strong><%= t('.email2') %></strong><%= mail_to @branch.email2, @branch.email2 %></span>
                </li>
                <li>
                  <span><strong><%= t('.webpage') %></strong><%= link_to @branch.webpage, @branch.webpage %></span>
                </li>
                <li>
                  <span><strong><%= t('.phone1') %></strong><%= number_to_phone(@branch.phone1, area_code: true)  %></span>
                </li>
                <li>
                  <span><strong><%= t('.phone2') %></strong><%= number_to_phone(@branch.phone2, area_code: true)  %></span>
                </li>
                <li>
                  <span><strong><%= t('.fax') %></strong><%= number_to_phone(@branch.fax, area_code: true) %></span>
                </li>
                <li>
                  <span><strong><%= t('.fulladdress') %></strong><%= @branch.fulladdress %></span>
                </li>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="box-footer padded">
          <span class="pull-right">
            <%= render "layouts/action_links" %>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>