<div class="row">
  <div class="col-md-12">
    <div class="box">
      <div class="box-header">
        <ul class="nav nav-tabs nav-tabs-left">
          <li class="active"><a href="#home" data-toggle="tab"><i class="icon-home"></i></a></li>
          <li><a href="#description" data-toggle="tab"><i class="icon-info-sign"></i> <span><%=t('.description')%></span></a></li>
        </ul>
        <div class="title"><%= @status.name %></div>
      </div>

      <div class="box-content">
        <div class="tab-content">
          <div class="tab-pane active" id="home">
            <ul class="box-list">
              <li>
                <span><strong><%= t'.name' %></strong> <%= @status.name %></span>
              </li>
              <li>
                <span><strong><%= t'.hierarchy' %></strong> <%= @status.hierarchy %></span>
              </li>
              <li>
                <span><strong><%= t'.model_name' %></strong> <%= @status.model_name %></span>
              </li>
            </ul>
          </div>
          <div class="tab-pane" id="description">
            <ul class="box-list">
              <li>
                <span><%= @status.description %></span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="box-footer padded">
        <span class="pull-right">
          <%= render "layouts/action_links" %>
        </span>
      </div>
    </div>
  </div>
</div>
