<div class="row">
  <div class="col-md-12">
    <div class="box">
      <div class="box-header">
        <ul class="nav nav-tabs nav-tabs-left">
          <li class="active"><a href="#home" data-toggle="tab"><i class="icon-home"></i></a></li>
        </ul>
        <div class="title"><%= "MODEL" %></div>
      </div>

      <div class="box-content">
        <div class="tab-content">
          <div class="tab-pane active" id="home">
            <ul class="box-list">
              <li>
                <span><strong><%= t'.model' %></strong> <%= @truck.model %></span>
              </li>
              <li>
                <span><strong><%= t'.brand' %></strong> <%= @truck.brand %></span>
              </li>
              <li>
                <span><strong><%= t'.year' %></strong> <%= @truck.year %></span>
              </li>
              <li>
                <span><strong><%= t'.truck_type' %></strong> <%= @truck.truck_type %></span>
              </li>
              <li>
                <span><strong><%= t'.plate_no' %></strong> <%= @truck.plate_no %></span>
              </li>
              <li>
                <span><strong><%= t'.serial_no' %></strong> <%= @truck.serial_no %></span>
              </li>
              <li>
                <span><strong><%= t'.color' %></strong> <%= @truck.color %></span>
              </li>
              <li>
                <span><strong><%= t'.wheels_no' %></strong> <%= @truck.wheels_no %></span>
              </li>
              <li>
                <span><strong><%= t'.other' %></strong> <%= @truck.other %></span>
              </li>
              <li>
                <span><strong><%= t'.identifier' %></strong> <%= @truck.identifier %></span>
              </li>
              <li>
                <span><strong><%= t'.branch_id' %></strong> <%= @truck.branch.name %></span>
              </li>
              <li>
                <span><strong><%= t'.company_id' %></strong> <%= @truck.company.name %></span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="box-footer padded">
        <span class="pull-right">
          <%= render "layouts/action_links" %>
        </span>
      </div>
    </div>
  </div>
</div>
