<div class="row">
  <div class="col-md-12">
    <div class="box">
      <div class="box-header">
        <ul class="nav nav-tabs nav-tabs-left">
          <li class="active"><a href="#home" data-toggle="tab"><i class="icon-home"></i></a></li>
        </ul>
        <div class="title"><%= "MODEL" %></div>
      </div>

      <div class="box-content">
        <div class="tab-content">
          <div class="tab-pane active" id="home">
            <ul class="box-list">
                              <li>
                  <span><strong><%= t'.name' %></strong> <%= @family.name %></span>
                </li>
                              <li>
                  <span><strong><%= t'.description' %></strong> <%= @family.description %></span>
                </li>
                              <li>
                  <span><strong><%= t'.company_id' %></strong> <%= @family.company %></span>
                </li>
                              <li>
                  <span><strong><%= t'.branch_id' %></strong> <%= @family.branch %></span>
                </li>
                              <li>
                  <span><strong><%= t'.client_id' %></strong> <%= @family.client %></span>
                </li>
                              <li>
                  <span><strong><%= t'.client__branch_id' %></strong> <%= @family.client_branch %></span>
                </li>
                          </ul>
          </div>
        </div>
      </div>
      <div class="box-footer padded">
        <span class="pull-right">
          <%= render "layouts/action_links" %>
        </span>
      </div>
    </div>
  </div>
</div>
