<div class="row">
  <div class="col-md-12">
    <div class="box">
      <div class="box-header">
        <ul class="nav nav-tabs nav-tabs-left">
          <li class="active"><a href="#home" data-toggle="tab"><i class="icon-home"></i></a></li>
        </ul>
        <div class="title"><%= "MODEL" %></div>
      </div>

      <div class="box-content">
        <div class="tab-content">
          <div class="tab-pane active" id="home">
            <ul class="box-list">
              <li>
                <span><strong><%= t'.company_id' %></strong> <%= @stock.company.name if @stock.company %></span>
              </li>
              <li>
                <span><strong><%= t'.branch_id' %></strong> <%= @stock.branch.name if @stock.branch %></span>
              </li>
              <li>
                <span><strong><%= t'.storage_id' %></strong> <%= @stock.storage.name if @stock.storage %></span>
              </li>
              <li>
                <span><strong><%= t'.product_id' %></strong> <%= @stock.product.name if @stock.product %></span>
              </li>
              <li>
                <span><strong><%= t'.quantity' %></strong> <%= @stock.quantity %></span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="box-footer padded">
        <span class="pull-right">
          <%= render "layouts/action_links" %>
        </span>
      </div>
    </div>
  </div>
</div>
