<div class="container">
  <div class="row">
    <div class="col-md-21">
      <div class="box">
        <div class="box-header">
          <ul class="nav nav-tabs nav-tabs-left">
            <li class="active"><a href="#home" data-toggle="tab"><i class="icon-home"></i></a></li>
            <li><a href="#description" data-toggle="tab"><i class="icon-info-sign"></i> <span><%=t('layouts.application.contact_info')%></span></a></li>
          </ul>
          <div class="title"><%= @stock.name %></div>
        </div>

        <div class="box-content">
          <div class="tab-content">
            <div class="tab-pane active" id="home">
              <ul class="box-list">
                <li>
                  <span><strong><%= t('.name') %></strong><%= @stock.name %></span>
                </li>
                <li>
                  <span><strong><%= t('.company_id') %></strong><%= @stock.company.name %></span>
                </li>
                <li>
                  <span><strong><%= t('.branch_id') %></strong><%= @stock.branch.name %></span>
                </li>
                <li>
                  <span><strong><%= t('.main_branch') %></strong><%= t(@stock.main_branch.to_s) %></span>
                </li>
                <li>
                  <span><strong><%= t('.description') %></strong><%= @stock.description %></span>
                </li>
                <li>
                  <span><strong><%= t('.created_at') %></strong><%=  I18n.l @stock.created_at, :format => :long if @stock.created_at%></span>
                </li>
                <li>
                  <span><strong><%= t('.updated_at') %></strong><%= I18n.l @stock.updated_at, :format => :long if  @stock.updated_at%></span>
                </li>
              </ul>
            </div>

            <div class="tab-pane" id="description">
              <ul class="box-list">
                <li>
                  <span><strong><%= t('.contact') %></strong><%= @stock.contact %></span>
                </li>
                <li>
                  <span><strong><%= t('.email1') %></strong><%= mail_to @stock.email1, @stock.email1 %></span>
                </li>
                <li>
                  <span><strong><%= t('.email2') %></strong><%= mail_to @stock.email2, @stock.email2 %></span>
                </li>
                <li>
                  <span><strong><%= t('.webpage') %></strong><%= link_to @stock.webpage, @stock.webpage %></span>
                </li>
                <li>
                  <span><strong><%= t('.phone1') %></strong><%= number_to_phone(@stock.phone1, area_code: true)  %></span>
                </li>
                <li>
                  <span><strong><%= t('.phone2') %></strong><%= number_to_phone(@stock.phone2, area_code: true)  %></span>
                </li>
                <li>
                  <span><strong><%= t('.fax') %></strong><%= number_to_phone(@stock.fax, area_code: true) %></span>
                </li>
                <li>
                  <span><strong><%= t('.fulladdress') %></strong><%= @stock.fulladdress %></span>
                </li>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="box-footer padded">
          <span class="pull-right">
            <%= render "layouts/action_links" %>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>