<div class="row">
  <div class="col-md-12">
    <div class="box">
      <div class="box-header"><span class="title"><%= t("activerecord.models.#{controller_name}") %></span>
        <ul class="box-toolbar">
          <li><span class="label label-blue"><% @storages_count %></span></li>
        </ul>
      </div>
      <div class="box-content">
        <!-- find me in partials/data_tables_custom -->
        <div id="dataTables">
          <table cellpadding="0" cellspacing="0" border="0" class="dTable responsive">
            <thead>
              <tr>
                <th><div><%= t'.id' %></div></th>
            <th><div><%= t'.name' %></div></th>
            <th><div><%= t'.contact' %></div></th>
            <th><div><%= t'.phone1' %></div></th>
            <th><div><%= t'layouts.application.fulladdress' %></div></th>
            <th><div><%= t'.company_id' %></div></th>
            <th><div><%= t'.branch_id' %></div></th>
            <th><div><%= t('layouts.application.actions') %></div></th>
            </tr>
            </thead>
            <tbody>
              <% @storages.each do |storage| %>
                <% @model = storage %> 
                <tr>
                  <%if can? :show, Storage %>
                    <td><%=link_to storage.id, storage, :class => 'btn btn-mini btn-blue'%></td>
                  <%else%>
                    <td><%= label storage.id, storage.id, :class => 'btn btn-mini btn-blue'%></td>
                  <%end%>
                  <td><%= storage.name %></td>
                  <td><%= storage.contact %></td>
                  <td><%= storage.phone1 %></td>
                  <td><%= storage.fulladdress if storage.fulladdress%></td>
                  <td><%= storage.company.name if storage.company %></td>
                  <td><%= storage.branch.name if storage.branch %></td>
                  <td><%= render "layouts/index_links" %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render "layouts/action_links" %>
