<div class="row">
  <div class="col-md-12">
    <div class="box">
      <div class="box-header">
        <ul class="nav nav-tabs nav-tabs-left">
          <li class="active"><a href="#home" data-toggle="tab"><i class="icon-home"></i></a></li>
          <li><a href="#details" data-toggle="tab"><i class="icon-exclamation-sign"></i><span><%=t('layouts.application.details')%></span></a></li>
        </ul>
        <div class="title"><%= @cellphone.model_brand %></div>
      </div>

      <div class="box-content">
        <div class="tab-content">
          <div class="tab-pane active" id="home">
            <ul class="box-list">
              <li>
                <span><strong><%= t'.phone_number' %></strong> <%= number_to_phone(@cellphone.phone_number, area_code: true) %></span>
              </li>
              <li>
                <span><strong><%= t'.user_id' %></strong> <%= @cellphone.user.fullname if @cellphone.user %></span>
              </li>
              <li>
                <span><strong><%= t'.branch_id' %></strong> <%= @cellphone.branch.name if @cellphone.branch %></span>
              </li>
              <li>
                <span><strong><%= t'.company_id' %></strong> <%= @cellphone.company.name if @cellphone.company %></span>
              </li>
              <li>
                <span><strong><%= t('.created_at') %></strong><%=  I18n.l @cellphone.created_at, :format => :long if @cellphone.created_at%></span>
              </li>
              <li>
                <span><strong><%= t('.updated_at') %></strong><%= I18n.l @cellphone.updated_at, :format => :long if  @cellphone.updated_at%></span>
              </li>
            </ul>
          </div>

          <div class="tab-pane" id="details">
            <ul class="box-list">
              <li>
                <span><strong><%= t'.model' %></strong> <%= @cellphone.model %></span>
              </li>
              <li>
                <span><strong><%= t'.brand' %></strong> <%= @cellphone.brand %></span>
              </li>
              <li>
                <span><strong><%= t'.color' %></strong> <%= @cellphone.color %></span>
              </li>
              <li>
                <span><strong><%= t'.ope_system' %></strong> <%= @cellphone.ope_system %></span>
              </li>
              <li>
                <span><strong><%= t'.condition' %></strong> <%= @cellphone.condition %></span>
              </li>
              <li>
                <span><strong><%= t'.imei' %></strong> <%= @cellphone.imei %></span>
              </li>
              <li>
                <span><strong><%= t'.description' %></strong> <%= @cellphone.description %></span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="box-footer padded">
        <span class="pull-right">
          <%= render "layouts/action_links" %>
        </span>
      </div>
    </div>
  </div>
</div>
