<div class="row">
  <div class="col-md-12">

    <div class="box">
      <div class="box-header">
        <span class="title"><%%= t("actions.#{controller.action_name}",  model: controller.action_name, model: t("activerecord.models.#{controller_name.singularize}")) %></span>
        <ul class="box-toolbar">          
          <li class="toolbar-link">
          <li><%%=link_to  "#", :title => t("layouts.application.form_reset"), :onclick => "formReset($('#fill-up'));" do%>
              <i class="icon-refresh"></i>
            <%%end%>
          </li>
        </ul>
      </div>

      <div class="box-content">

        <%%= form_for(@<%= singular_table_name %>, :html => {:class => "fill-up", :id => "fill-up"}) do |f| %>
        <%% if @<%= singular_table_name %>.errors.any? %>
        <div id="error_explanation">
          <%% if @<%= singular_table_name %>.errors.count == 1 %>
          <h2><%%= t('activerecord.errors.template.header.one', model: t("activerecord.models.#{controller_name.singularize.gsub(" ", "")}")) %></h2>
          <%% else %>
          <h2><%%= t('activerecord.errors.template.header.other', model: t("activerecord.models.#{controller_name.singularize.gsub(" ", "")}"), :count => @<%= singular_table_name %>.errors.count) %></h2>
          <%% end %>
          <ul>
            <%% @<%= singular_table_name %>.errors.full_messages.each do |msg| %>
            <li><%%= msg %></li>
            <%% end %>
          </ul>
        </div>
        <%% end %>

        <div class="row">
          <div class="col-lg-6">
            <ul class="padded separate-sections">
              <% attributes.each do |attribute| -%>
                <li class="field">
                  <% if attribute.password_digest? -%>
                    <%%= f.label :password %>
                    <%%= f.password_field :password %>
                  </li>
                  <li>
                    <%%= f.label :password_confirmation %>
                    <%%= f.password_field :password_confirmation %>
                  <% else -%>
                    <%%= f.label :<%= attribute.name %> %>
                    <%%= f.<%= attribute.field_type %> :<%= attribute.name %>, :required => true, :placeholder => t(:required) %>
                  <% end -%>
                </li>
              <% end -%>
            </ul>
          </div>

          <div class="col-lg-6">
            <ul class="padded separate-sections">
            </ul>
          </div>
        </div>

        <div class="form-actions">
          <%%=f.button  :class=>"btn btn-blue", :title => t("actions.form_#{action_name}",  model: t("activerecord.models.#{controller_name.singularize}")) do%>
          <i class="icon-circle-arrow-up"></i> <%%= t("actions.form_#{action_name}",  model: t("activerecord.models.#{controller_name.singularize}")) %>
          <%%end%>
          <%%= render "layouts/action_links" %>
        </div>
        <%% end %>
      </div>
    </div>
  </div>
</div>
