<div class="row">
  <div class="col-md-12">
    <div class="box">
      <div class="box-header"><span class="title"><%= t("activerecord.models.#{controller_name}") %></span>
        <ul class="box-toolbar">
          <li><span class="label label-blue"><% @prices_count %></span></li>
        </ul>
      </div>
      <div class="box-content">
        <!-- find me in partials/data_tables_custom -->
        <div id="dataTables">
          <table cellpadding="0" cellspacing="0" border="0" class="dTable responsive">
            <thead>
              <tr>
                <th><div><%= t'.id' %></div></th>
            <th><div><%= t'.product_id' %></div></th>
            <th><div><%= t'.price' %></div></th>
            <th><div><%= t'.description' %></div></th>
            <th><div><%= t'.company_id' %></div></th>
            <th><div><%= t'.branch_id' %></div></th>
            <th><div><%= t'.client_type_id' %></div></th>
            <th><div><%= t('layouts.application.actions') %></div></th>
            </tr>
            </thead>
            <tbody>
              <% @prices.each do |price| %>
                <% @model = price %> 
                <tr>
                  <%if can? :show, Price %>
                    <td><%=link_to price.id, price, :class => 'btn btn-mini btn-blue'%></td>
                  <%else%>
                    <td><%= label price.id, price.id, :class => 'btn btn-mini btn-blue'%></td>
                  <%end%>
                  <td><%= price.product.name if price.product %></td>
                  <td><%= price.price_with_unit %></td>
                  <td><%= price.description %></td>
                  <td><%= price.company.name if price.company %></td>
                  <td><%= price.branch.name if price.branch %></td>
                  <td><%= price.client_type.name if price.client_type %></td>
                  <td><%= render "layouts/index_links" %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render "layouts/action_links" %>
