<%= form_for(@role) do |f| %>
  <% if @role.errors.any? %>
    <div id="error_explanation">
      <% if @role.errors.count == 1 %>
        <h2><%= t('activerecord.errors.template.header.one', model: t("activerecord.models.#{controller_name.singularize.gsub(" ", "")}")) %></h2>
      <% else %>
        <h2><%= t('activerecord.errors.template.header.other', model: t("activerecord.models.#{controller_name.singularize.gsub(" ", "")}"), :count => @role.errors.count) %></h2>
      <% end %>
      <ul>
        <% @role.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :protected %>
    <%= f.check_box :protected %>
  </div>
  <div class="field">
    <%= f.label :super_admin %>
    <%= f.check_box :super_admin %>
  </div>
  <div class="field">
    <%= f.label :company_admin %>
    <%= f.check_box :company_admin %>
  </div>
  <div class="field">
    <%= f.label :branch_admin %>
    <%= f.check_box :branch_admin %>
  </div>
  <div class="field">
    <%= f.label :super_manager %>
    <%= f.check_box :super_manager %>
  </div>
  <div class="field">
    <%= f.label :manager %>
    <%= f.check_box :manager %>
  </div>
  <div class="field">
    <%= f.label :routes_admin %>
    <%= f.check_box :routes_admin %>
  </div>
  <div class="field">
    <%= f.label :seller %>
    <%= f.check_box :seller %>
  </div>
  <div class="field">
    <%= f.label :secretary %>
    <%= f.check_box :secretary %>
  </div>
  <div class="field">
    <%= f.label :driver %>
    <%= f.check_box :driver %>
  </div>
  <div class="field">
    <%= f.label :client %>
    <%= f.check_box :client %>
  </div>
  <div class="field">
    <%= f.label :guess %>
    <%= f.check_box :guess %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
