<p>
  <strong><%= t('.name') %></strong>
  <%= @role.name %>
</p>

<p>
  <strong><%= t('.protected') %></strong>
  <%= t(@role.protected.to_s) %>
</p>

<p>
  <strong><%= t('.super_admin') %></strong>
  <%= t(@role.super_admin.to_s) %>
</p>

<p>
  <strong><%= t('.company_admin') %></strong>
  <%= t(@role.company_admin.to_s) %>
</p>

<p>
  <strong><%= t('.branch_admin') %></strong>
  <%= t(@role.branch_admin.to_s) %>
</p>

<p>
  <strong><%= t('.super_manager') %></strong>
  <%= t(@role.super_manager.to_s) %>
</p>

<p>
  <strong><%= t('.manager') %></strong>
  <%= t(@role.manager.to_s) %>
</p>

<p>
  <strong><%= t('.routes_admin') %></strong>
  <%= t(@role.routes_admin.to_s) %>
</p>

<p>
  <strong><%= t('.seller') %></strong>
  <%= t(@role.seller.to_s) %>
</p>

<p>
  <strong><%= t('.secretary') %></strong>
  <%= t(@role.secretary.to_s) %>
</p>

<p>
  <strong><%= t('.driver') %></strong>
  <%= t(@role.driver.to_s) %>
</p>

<p>
  <strong><%= t('.client') %></strong>
  <%= t(@role.client.to_s) %>
</p>

<p>
  <strong><%= t('.guess') %></strong>
  <%= t(@role.guess.to_s) %>
</p>

<p>
  <strong><%= t('.description') %></strong>
  <%= @role.description %>
</p>

<p>
  <strong><%= t('.created_at') %></strong>
  <%=  I18n.l @role.created_at, :format => :long %>
</p>

<p>
  <strong><%= t('.updated_at') %></strong>
  <%= I18n.l @role.updated_at, :format => :long %>
</p>

<%= render "layouts/action_links" %>
