<p><%= t(:hello)+" "+@resource.email %>!</p>

<p><%= t('devise.passwords.requested') %></p>

<p><%= link_to t('devise.passwords.change_my'), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p><%= t('devise.passwords.ignore') %></p>
<p><%= t('devise.passwords.wont_change') %></p>
