<!-- Brand and toggle get grouped for better mobile display -->
<div class="navbar-header">
  <a class="navbar-brand" href="#"><%= t(:main_title)%></a>


  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-primary">
    <span class="sr-only">Toggle Side Navigation</span>
    <i class="icon-th-list"></i>
  </button>

  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-top">
    <span class="sr-only">Toggle Top Navigation</span>
    <i class="icon-align-justify"></i>
  </button>

</div>




<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse navbar-collapse-top">
  <div class="navbar-right">
    <ul class="nav navbar-nav navbar-left">

      <li class="cdrop active"><%=link_to "http://www.emobile-demos.com.mx/webmail", :title => t('.email') do %>
          <i class="icon-envelope"></i><span> <%=t('.email')%></span>
        <%end%>
      </li>
      <li class="cdrop"><%=link_to "#", :title => t(".messages") do %>
          <i class="icon-comments"></i><span> <%=t(".messages")%></span>
        <%end%>
      </li>
      <%if can? :new, Comment%>
        <li class="cdrop"><%=link_to new_comment_path, :title => t(".leave_a_comment") do %>
            <i class="icon-comment"></i><span> <%=t(".leave_a_comment")%></span>
          <%end%>
        </li>
      <%end%>
      <li class="dropdown cdrop">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%=t('.shortcuts')%><b class="caret"></b></a>
        <ul class="dropdown-menu">
          <% @models.each do |model|%>
            <li class=""><%=link_to eval("#{model["name"].underscore.pluralize.downcase}_path"), title: model["human_name"] do%>
                <i class="icon-circle-arrow-right"></i><%=model["human_name"]%>
              <%end%></li>
          <%end%>
        </ul>
      </li>
    </ul>

    <form class="navbar-form navbar-left" role="search">
      <div class="form-group">
        <input type="text" class="search-query animated" placeholder="<%=t('.search')%>">
        <i class="icon-search"></i>
      </div>
    </form>

    <ul class="nav navbar-nav navbar-left">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle dropdown-avatar" data-toggle="dropdown">
          <span>
            <%=  image_tag(current_user.logo.blank? ? "/assets/missing.png": current_user.logo, :class => "menu-avatar")%> <span><%=current_user.username%><i class="icon-caret-down"></i></span>
            <span class="badge badge-dark-red">5</span>
          </span>
        </a>
        <ul class="dropdown-menu">

          <!-- the first element is the one with the big avatar, add a with-image class to it -->

          <li class="with-image">
            <div class="avatar">
              <%=  image_tag(current_user.logo.blank? ? "/assets/missing.png": current_user.logo)%>
            </div>
            <span><%=current_user.username%></span>
          </li>
          <li class="divider"></li>
          <li><%=link_to current_user, :title => t(".show_my_account") do %>
              <i class="icon-user"></i><span> <%=t(".profile")%></span>
            <%end%>
          </li>
          <li><%=link_to edit_user_path(current_user), :title => t(".edit_my_accout") do %>
              <i class="icon-cog"></i><span> <%=t(".edit_my_accout")%></span>
            <%end%>
          </li>
          <li><a href="#"><i class="icon-envelope"></i> <span>Messages</span> <span class="label label-dark-red pull-right">5</span></a></li>

          <li><%= link_to destroy_session_path, title: t(:logout) + " " + current_user.username do %>
              <i class="icon-off"></i> <span><%= t(:logout) %></span></li>
            <%end%>

        </ul>
      </li>
      <%=render "/layouts/languages"%>
    </ul>
  </div>
</div><!-- /.navbar-collapse -->