<ul class="action-nav-normal rounded">

  <% if can? :new, Company %>
    <li class="action-nav-button">
      <%= link_to new_company_path, :class=>"tip", :title=>t(".create_company") do%>
        <i class="icon-globe"></i>
      <%end%>
      <span class="label label-black"><%= @companies_count %></span>
    </li>
  <%end%>

  <% if can? :new, Branch %>
    <li class="action-nav-button">
      <%= link_to new_branch_path, :class=>"tip", :title=>t(".create_branch") do%>
        <i class="icon-sitemap"></i>
      <%end%>
      <span class="label label-black"><%= @branches_count %></span>
    </li>
  <%end%>

  <% if can? :new, Role %>
    <li class="action-nav-button">
      <%= link_to new_role_path, :class=>"tip", :title=>t(".create_rol") do%>
        <i class="icon-key"></i>
      <%end%>
      <span class="label label-black"><%= @roles_count %></span>
    </li>
  <%end%>

  <% if can? :new, Status %>
    <li class="action-nav-button">
      <%= link_to new_status_path, :class=>"tip", :title=>t(".create_status") do%>
        <i class="icon-star"></i>
      <%end%>
      <span class="label label-black"><%= @statuses_count %></span>
    </li>
  <%end%>

  <% if can? :new, User %>
    <li class="action-nav-button">
      <%= link_to new_user_path, :class=>"tip", :title=>t(".create_user") do%>
        <i class="icon-user"></i>
      <%end%>
      <span class="label label-black"><%= @users_count %></span>
    </li>
  <%end%>

  <% if can? :index, Comment %>
    <li class="action-nav-button">
      <%= link_to comments_path, :class=>"tip", :title=>t(".comments") do%>
        <i class="icon-comments"></i>
      <%end%>
      <span class="label label-black"><%= @comments_count %></span>
    </li>
  <%end%>


  <% if can? :new, Cellphone %>
    <li class="action-nav-button">
      <%= link_to new_cellphone_path, :class=>"tip", :title=>t(".create_cellphone") do%>
        <i class="icon-phone"></i>
      <%end%>
      <span class="label label-black"><%= @cellphones_count %></span>
    </li>
  <%end%>

  <% if can? :new, Truck %>
    <li class="action-nav-button">
      <%= link_to new_truck_path, :class=>"tip", :title=>t(".create_truck") do%>
        <i class="icon-truck"></i>
      <%end%>
      <span class="label label-black"><%= @trucks_count %></span>
    </li>
  <%end%>

</ul>